// $c-bg: #efefef;
// $c-alt: #e41612;
// $c-text: #444;

// $size-text: 18px;

// mobile 
$p-mobile: 18px;
$h3-mobile: 27px;
$h2-mobile: 40px;
$h1-mobile: 60px;

//tablet
$p-tablet: 20px;
$h3-tablet: 30px;
$h2-tablet: 45px;
$h1-tablet: 68px;

//desktop
$p-desktop: 24px;
$h3-desktop: 36px;
$h2-desktop: 54px;
$h1-desktop: 81px;


// mobile 18.1,6=28 ///////////////////
$margin-1: 28px;
$margin-2: 56px;
$margin-3: 84px;
$margin-4: 112px;
$margin-5: 140px;
$margin-6: 168px;
$margin-7: 196px;


// tablet 20.1,6 =32 ///////////////////
$margint-1: 32px;
$margint-2: 64px;
$margint-3: 128px;
$margint-4: 256px;
$margint-5: 512px;
$margint-6: 1024px;
$margint-7: 2048px;


// tablet 24.1,6 =38 ///////////////////
$margind-1: 38px;
$margind-2: 76px;
$margind-3: 152px;
$margind-4: 304px;
$margind-5: 608px;
$margind-6: 1216px;
